@model CompanyPageModel

@{
    ViewBag.Title = Html.LocalizationString("company_page_view_title");
}

<div class="col-lg-12">
    <h3>@ViewBag.Title</h3>
    <hr />

    <div class="col-lg-12">
        @foreach (var image in Model.Images)
        {
            var base64 = Convert.ToBase64String(image.ByteData);
            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

            <img src="@imgSrc" class="col-lg-2" />
        }
    </div>

    <div class="col-lg-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#current_opportunities" data-toggle="tab">@Html.LocalizationString("current_opportunities")</a></li>
            <li><a href="#past_opportunities" data-toggle="tab">@Html.LocalizationString("past_opportunities")</a></li>
            <li><a href="#about_us" data-toggle="tab">@Html.LocalizationString("about_us")</a></li>
            <li><a href="#contact" data-toggle="tab">@Html.LocalizationString("contact")</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="current_opportunities">

                <table class="table table-hover">
                    <thead>
                        <tr id="trQuestion">
                            <td>
                                <h3 style="font-family: 'Trebuchet MS'">
                                    <span class="label">@Model.Question.QuestionText</span> 
                                </h3>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="trAnswers">
                            <td class="btn-group-vertical" style="width:99%">
                                <button name="rbAnswer" type="button" style="text-align:left" class="btn btn-primary">@Model.Question.Answer1</button>
                                <button name="rbAnswer" type="button" style="text-align:left" class="btn btn-primary">@Model.Question.Answer2</button>
                                <button name="rbAnswer" type="button" style="text-align:left" class="btn btn-primary">@Model.Question.Answer3</button>
                                <button name="rbAnswer" type="button" style="text-align:left" class="btn btn-primary">@Model.Question.Answer4</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <input type="button" id="btnNextQuestion" class="btn btn-sm btn-info pull-right" value="@Html.LocalizationString("btn_next_question")" data-id="@Model.Question.Id" />
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-pane fade" id="past_opportunities"> Buraya Geçmiş fırsatlar (tarih aralıklarıyla) listelenecek.</div>
            <div class="tab-pane fade" id="about_us">Hakkımızda sayfası</div>
            <div class="tab-pane fade" id="contact">
                <h2>
                    <span class="col-lg-4">@Model.Company.Name</span>
                    <span class="col-lg-4">@Model.Company.Address</span>
                </h2>
            </div>
        </div>

    </div>

</div>
@Html.AntiForgeryToken()

@section script
{
    <script>
        $(function () {
            var btnNextQuestion = $("input#btnNextQuestion");
            var answer = "";

            var shuffle = function (arr) {
                for (var j, x, i = arr.length; i; j = parseInt(Math.random() * i), x = arr[--i], arr[i] = arr[j], arr[j] = x);
                return arr;
            }

            $("[name='rbAnswer']").click(function () {
                answer = $(this).text();
            });
              
            btnNextQuestion.click(function () {
                var questionId = $(this).data("id");
                
                $.ajax({
                    url: "/company/isanswercorrect",
                    type: "POST",
                    data: {
                        questionId: questionId, 
                        answer: answer, 
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    }
                }).done(function (r) {
                    if (r && r.IsOk) {
                          
                        $("#trQuestion").find("span.label").html(r.Result.QuestionText);
                          
                        var answers = [r.Result.Answer1, r.Result.Answer2, r.Result.Answer3, r.Result.Answer4];

                        answers = shuffle(answers);
                        
                        var i = 0;

                        $("#trAnswers").find("button[name='rbAnswer']").each(function (i, answerButton) {
                            answerButton.html(answers[i]);
                        });

                        btnNextQuestion.data("id", r.Result.Id);
                         
                    } else {
                        alert("Yanlış Cevap");
                        location.reload();
                    }
                }).fail(function () { alert("Beklenmedik bir hata oluştu.") });
            });
             
        });
    </script>
}